<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h2>This is about us page</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima vitae rem error debitis, fugit quia eos animi ipsam? Delectus ducimus distinctio illo dolor labore nulla autem veniam explicabo eius officiis?</p>
</body>
</html>